<template>
<div class="page no-swipeback" data-name="profile">
    <div class="navbar">
        <div class="navbar-inner bay">
            <div class="left">
                <!-- <a href="#" class="back link" style="color:#000;"> <i class="fa fa-angle-left"></i><span>Back</span></a> -->
            </div>
            <div class="title" style="color:#000;">Profile</div>
            <div class="right">
                <!-- <a href="#" class="link icon-only popup-open" data-popup=".edit-popup">
                    <i class="f7-icons">compose</i>
                </a> -->
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="profile-header" style="margin-top:-12px;">
            <div class="row">
              <div class="col-30">
                <img class="img-profile" alt="" src="user-logo.jpg" style="max-height:120px; max-width:80px;">
              </div>
              <div class="col-70 padding-top">
                <h4 class="text-center" id="nama_user">Nama Pengguna</h4>
                <p class="text-center" id="jabatan">Pelaksana Seksi Data Dan Administrasi Kepegawaian</p>
              </div>
            </div>
        </div>
        <div class="toolbar tabbar toolbar-border">
            <div class="toolbar-inner">
                <a href="#pro_overview" class="tab-link tab-link-active">Overview</a>
                <a href="#pro_education" class="tab-link">Pendidikan</a>
                <a href="#pro_experience" class="tab-link">Riwayat Karir</a>
            </div>
        </div>
        <!-- Tabs -->
        <div class="tabs profile-tabs">

            <div class="tab tab-active" id="pro_overview">
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">NIP</div>
                                    <div class="item-after nip"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">No. KTP</div>
                                    <div class="item-after ktp"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Tempat Tgl Lahir</div>
                                    <div class="item-after ttl"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Agama</div>
                                    <div class="item-after agama"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">Gender</div>
                                    <div class="item-after gender"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="block block-strong address-block">
                        <p><strong>Address</strong></p>
                        <p>1861 Bayonne Ave, Manchester Township, NJ, 08759</p>
                    </div>
                </div>
            </div>

            <div class="tab" id="pro_education">
                <div class="block block-strong">
                    <div class="experience-box">
                        <ul class="experience-list" id="education">

                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab" id="pro_experience">
                <div class="block block-strong">
                    <div class="experience-box">
                        <ul class="experience-list" id="experience">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup edit-popup">
            <div class="view popup-view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left"><a href="#" class="link popup-close"><i class="fa fa-close"></i> <span>Close</span></a></div>
                            <div class="title">Edit Profile</div>
                            <div class="right"></div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="tabs">
                            <div class="tab tab-active" id="basic_informations">
                                <div class="list no-hairlines custom-form">
                                    <h4 class="profile-title">Basic Informations</h4>
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">First Name</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Last Name</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Birth Date</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" id="bod">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Gender</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="row">
                    														<div class="col-100">
                    															<a class="tab-link button button-big button-purple" href="#contact_informations">Next</a>
                    														</div>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab" id="contact_informations">
                                <div class="list no-hairlines custom-form">
                                    <h4 class="profile-title">Contact Informations</h4>
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Address</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">State</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Country</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Pincode</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Phone Number</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Address</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="row">
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-red" href="#basic_informations">Back</a>
                    														</div>
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-purple" href="#education_informations">Next</a>
                    														</div>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" id="education_informations">
                                <div class="list no-hairlines custom-form">
                                    <h4 class="profile-title">Education Informations</h4>
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Institution</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Subject</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Starting Date</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Complete Date</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Degree</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Grade</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="add-more">
                    														<a class="add-more-btn" href="#"><i class="fa fa-plus"></i> Add More Institute</a>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="row">
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-red" href="#contact_informations">Back</a>
                    														</div>
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-purple" href="#exp_informations">Next</a>
                    														</div>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab" id="exp_informations">
                                <div class="list no-hairlines custom-form">
                                    <h4 class="profile-title">Experience Informations</h4>
                                    <ul>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Company Name</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Location</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Job Position</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Period From</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item-content item-input">
                                            <div class="item-inner">
                                                <div class="item-title item-label">Period To</div>
                                                <div class="item-input-wrap">
                                                    <input type="text">
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="add-more">
                    														<a class="add-more-btn" href="#"><i class="fa fa-plus"></i> Add More Experience</a>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                    										<li class="item-content item-input">
                    											<div class="item-inner">
                    												<div class="item-input-wrap m-t-10">
                    													<div class="row">
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-red" href="#education_informations">Back</a>
                    														</div>
                    														<div class="col-50">
                    															<a class="tab-link button button-big button-purple popup-close" href="#">Send</a>
                    														</div>
                    													</div>
                    												</div>
                    											</div>
                    										</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
	return {
		on :{
			pageBeforeIn: function(event, page) {
				app.preloader.show();
			},
			pageAfterIn: function(event, page) {
				app.preloader.hide();
			},
			pageInit: function(event, page) {
        get_foto(function(data){
          $(".img-profile").removeAttr("src");
          $(".img-profile").attr("src", data);
        });
        get_biodata(page.app, function(data){
          $("#nama_user").html(data.nama);
          $("#jabatan").html(data.jabatan);
          $(".nip").html(data.nip);
          $(".ktp").html(data.no_ktp);
          $(".ttl").html(data.tempat_lahir+", "+data.tanggal_lahir);
          $(".gender").html(data.kelamin);
          $(".agama").html(data.agama);
        });

        get_pendidikan(page.app, function(data){
            var pendidikan = '';
            var i;
            for(i=0; i<data.response.formal.length; i++){
                pendidikan += '<li>'+
                                '<div class="experience-user">'+
                                  '<div class="before-circle"></div>'+
                                '</div>'+
                                '<div class="experience-content">'+
                                  '<div class="timeline-content">'+
                                    '<span class="name">'+data.response.formal[i].nama_sekolah+'</span>'+
                                    '<div class="degree">'+data.response.formal[i].tingkat_pendidikan+'</div>'+
                                    '<div class="time">'+
                                      '<span class="entry">'+data.response.formal[i].tahun_masuk+'</span> - <span class="out">'+data.response.formal[i].tahun_lulus+'</span>'+
                                    '</div>'+
                                  '</div>'+
                                '</div>'+
                              '</li>';
            }
            $("#education").html(pendidikan);
        });

        get_karir(page.app, function(data){
            var experience = '';
            var i;
            for(i=0; i<data.response.length; i++){
                experience += '<li>'+
                                  '<div class="experience-user">'+
                                      '<div class="before-circle"></div>'+
                                  '</div>'+
                                  '<div class="experience-content">'+
                                      '<div class="timeline-content">'+
                                          '<span class="name">'+data.response[i].jabatan+' at '+data.response[i].unit_kerja+'</span>'+
                                          '<span class="time">'+data.response[i].tanggal_berlaku+'</span>'+
                                      '</div>'+
                                  '</div>'+
                              '</li>';
            }
            $("#experience").html(experience);
        });


        $("#profile").addClass('tab-link-active');
        $("#home").removeClass('tab-link-active');
        $("#agenda").removeClass('tab-link-active');
        $("#bantuan").removeClass('tab-link-active');
			},
			pageBeforeRemove: function(event, page) {
			},
		}
	}
</script>
