<template>
<div class="page" data-name="notifications">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" style="color:#000;" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div style="color:#000;" class="title">Notifications</div>
			<div class="right">
				<a href="/add-client/" style="color:#000;" class="link icon-only">
					<!-- <i class="f7-icons">add</i> -->
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list user-list">
			<ul>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Pengajuan Cuti</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Pengajuan Cuti Anda di setujui oleh Nama</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Pengajuan Cuti</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Pengajuan Cuti Anda di setujui oleh Nama</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Persetujuan Cuti</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Andy Resta meminta persetujuan cuti</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Persetujuan Cuti</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Andy Resta meminta persetujuan cuti</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Persetujuan Cuti</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Andy Resta meminta persetujuan cuti</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Informasi</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Informasi untuk melengkapi data</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Informasi</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Informasi untuk melengkapi data</div>
						</div>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Informasi</div>
								<div class="item-after" style="font-size: 14px;">17/7/2019 10:00</div>
							</div>
							<div class="item-subtitle user-role">Informasi untuk melengkapi data</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</template>
