<template>
<div class="page" data-name="cuti">
	<div class="navbar bay">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" style="color:#000;" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div style="color:#000;" class="title">Cuti</div>
			<div class="right">
				<a href="/add-client/" style="color:#000;" class="link icon-only">
					<!-- <i class="f7-icons">add</i> -->
				</a>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="block">
			<div style="padding-left:8px; padding-right:8px;" class="row">
				<div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/faskes/info-faskes.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/persetujuan.png" alt="">
              </div>
						</div>
					</a>
        </div>
				<div class="col-33 tablet-33"> </div>
			</div>
      <!-- garis -->
      <hr class="style14">
			<!--  -->
      <div style="padding-left:8px; padding-right:8px;" class="row">
				<div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/tahunan.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/menikah.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/cuti-sakit.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/baby.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/penting.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/praying-hands.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">
					<a href="/kosong/">
						<div class="dash-widget box-bay">
							<div class="dash-widget-icon">
                <img src="assets/icon/cuti/praying.png" alt="">
              </div>
						</div>
					</a>
        </div>
        <div class="col-33 tablet-33">

        </div>
        <div class="col-33 tablet-33">  </div>
			</div>
		</div>
	</div>
</div>
</template>
<script>
	return {
		on :{
			pageBeforeIn: function(event, page) {
				app.preloader.show();
			},
			pageAfterIn: function(event, page) {
				app.preloader.hide();
			},
			pageInit: function(event, page) {
			},
			pageBeforeRemove: function(event, page) {
			},
		}
	}
</script>
